.mandatory-section{
	position: absolute;
	width: 100%;
	height:400px;
}
.redhawk-filter-text-container{
	font-weight: bolder;
	font-size: 18px;
	top: 4px;
	left: 20px;
	position: absolute;	
}
.server-list{
	position: absolute;
	left: 135px;
	width: 200px;
	cursor: pointer
}
.server-list-label{
	position: absolute;
	left: 30px;
	width: 75px;
	top: 5px;
}
.server-list-container{
	position: absolute;
	top: 20px;
	width: 100%;
	height: 35px;
}
.url-selection-container{
	position: absolute;
	top: 80px;
	left: 67px;
}
#getSetsRadio{
	margin-left: 50px;
}
#getRadio{
	margin-left: 20px;
}
.query-input-container{
	position: absolute;
	top: 150px;
}
.query-input-header-label{
	position: absolute;
	left: 40px;
}
.query-input-textarea{
	position: absolute;
	left: 40px;
	top: 40px;
	width: 300px;
	height: 500px;
	outline: none;
	resize:none;
}
.submit-button{
	color: #fff;
	background-color: #18bc9c;
	border-color: #18bc9c;
	width: 100px;
	height: 40px;
	position: absolute;
	top: 750px;
	left: 148px;
	font-size: 18px;
	line-height: 2.33;
	border-radius: 6px;
	font-weight: bolder;
	cursor: pointer;
	text-align: center;
}

.submit-button:hover{
	background-color:#21ECC5;
}
.metric-list-container{
	position: absolute;
	width: 100%;
	top: 121px;
	height: 70px;
}
.metric-list-label{
	left: 0;
	position: absolute;
	width: 50px;
	top: 0;

}
.metric-list{
	left: 0;
	position: absolute;
	width: 300px;
	top: 30px;
}
.metric-list2{
	left: 115px;
	position: absolute;
	width: 300px;
	top: 30px;
}
.metric-list3{
	left: 250px;
	position: absolute;
	width: 300px;
	top: 30px;
}
.granularity-container{
	top: 210px;
	position: absolute;
	width: 100%;
	height: 40px;
}
.granularity-label{
	left: 114px;
	position:absolute;
	top: 5px;
}
.granularity-text-box{
	position: absolute;
	left: 208px;
	width: 50px;
}
.date-time-picker-contatiner{
	position: absolute;
	width: 100%;
	height: 90px;
	top:330px;

}
.start-date-time-picker-container{
	position: absolute;
	width: 200px;
	height: 40px;
	left: 50px;
}
.end-date-time-picker-container{
	position: absolute;
	width: 200px;
	height: 40px;
	top:50px;
	left: 50px;
}
.start-date-time-label{
	position: absolute;
	width: 50px;
	height: 40px;
	left: 0px;
	top: 4px;
}
.end-date-time-label{
	position: absolute;
	width: 50px;
	height: 40px;
	left: 0px;
	top: 4px;
}
.start-date-time-picker{
	position: absolute;
	width: 100px;
	height: 40px;
	margin-left: 50px;
}
.end-date-time-picker{
	position: absolute;
	width: 100px;
	height: 40px;
	margin-left: 50px;
}
.cluster-contatiner{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 430px;
}
.cluster-label{
	position: absolute;
	width: 60px;
	height:20px;
	left: 100px;
	top: 5px;
}
.cluster-text-box{
	position: absolute;
	width: 100px;
	left: 180px;
}
.dataset-container{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 265px;
}
.dataset-label{
	position: absolute;
	width: 60px;
	height: 40px;	
}
.dataset-label{
	position: absolute;
	width: 60px;
	height: 20px;	
	left: 100px;
	top:5px;
}
.dataset-text-box{
	position: absolute;
	width: 100px;
	left:	180px;
}
#dataSetTextBox{
	cursor: text;
}
#resultTextArea{
	cursor: text;
}