.optional-line{	
	background-color: #CECECE;
	height: 3px;
	margin-top: 440px;
	border-radius: 6px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.optional-section{	
	position: absolute;
	width: 100%;
	height: 274px;
	left: 0px;
	overflow-y: visible;
	overflow-x: auto;
}
.optional-section-header{
	position: absolute;
	left: 20px;
	font-size: 15px;
	font-weight: bolder;
	color: #6F6F6F;
}
.page-container{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 35px;
}
.page-label{
	position: absolute;
	width: 50px;
	height:20px;
	left: 100px;
	top: 5px;
}
.page-text-box{
	position: absolute;
	width: 100px;
	left: 180px;
}
.platform-container{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 80px;
}
.platform-label{
	position: absolute;
	width: 60px;
	height:20px;
	left: 100px;
	top: 5px;
}
.platform-text-box{
	position: absolute;
	width: 100px;
	left: 180px;
}
.optional-tag-container{
	position: absolute;
	top: 26px;
	list-style-type: none;
	width: 348px;
	left: 0;
	background-color: #CECECE;
}
li{
	line-height: 35px;
}

.tags-button-container{
	width: 100%;
	height: 50px;
	position: relative;
	top:35px;
	display: none;
}
.add-tags-button-container{
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	background-color: #7B1FDF;
	border-color: #7B1FDF;
	width: 126px;
	height: 37px;
	font-size: 16px;
	line-height: 2.33;
	border-radius: 6px;
	font-weight: bolder;
	cursor: pointer;
	text-align: center;
	margin-right: 38px;
	left:52px;
}
.add-tags-button-container:hover{
	background-color: #A565EB;
	border-color: #A565EB;
}
.plus-tags-icon{
	font-size: 1em;
}
.add-tags-text{
	font-size: 1em;	
	display: inline-block;
}
.delete-tags-button-container{
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	background-color: #929292;
	border-color: #929292;
	width: 126px;
	height: 37px;
	font-size: 16px;
	line-height: 2.33;
	border-radius: 6px;
	font-weight: bolder;
	cursor: pointer;
	text-align: center;
	left: 46px
}
.delete-tags-button-container:hover{
	background-color: #B4B4B4;
	border-color: #B4B4B4;
}
.delete-tags-icon{
	font-size: 1em;
}
.delete-tags-text{
	font-size: 1em;	
	display: inline-block;
}
.optional-tag .bootstrap-select{
	left: 20px;
}